<div mat-dialog-title>
    <h1>Crear Lista</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <h4>Selección el Producto:</h4>
        <div class="r">
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Producto:</mat-label>
                <mat-select formControlName="producto">
                    <mat-option *ngFor="let val of producto" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cantidad:</mat-label>
                <mat-select formControlName="cantidad">
                    <mat-option *ngFor="let val of cantidad" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Actualizar':'Guardar'}}</button>
    </div>
</form>