.name-field {
    width: 30rem;
}

.chip {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: #c4c4c4;
    color: white;
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 0.5rem;
}

.primary {
    background-color: #3f51b5;
}

.warn {
    background-color: #f44336;
}

.select {
    height: 3.5rem;
}