<mat-card class="area-list-card">
    <div mat-subheader class="header-content height2-4rem">
        Lista de compras
        <span class="spacer"></span>
        <button mat-mini-fab color="primary" matTooltip="Añadir producto" (click)="openAddMarketDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="area-list-card-content">
        <mat-list>
            <div *ngFor="let prod of products">
                <mat-list-item>
                    <div matListItemTitle [matTooltip]="prod.name">{{prod.name}}</div>
                    <div matListItemLine>proveedor: {{prod.providerName}}</div>
                    <div matListItemLine>{{prod.price | currency}}</div>
                    <div matListItemMeta>
                        <div>
                            <button mat-icon-button color="warn" matTooltip="Eliminar producto"
                                (click)="clickDeletedProduct.emit(prod)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Editar producto"
                                (click)="openUpdateMarketDialog(prod)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" matTooltip="Marcar como comprado"
                                (click)="markPurchasedProduct.emit(prod)">
                                <mat-icon>check_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>