<mat-card class="area-list-card">
    <div mat-subheader class="header-content height2-4rem">
        Comprado
        <span class="spacer"></span>
        Total: {{addProductAccount() | currency}}
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="area-list-card-content">
        <mat-list>
            <div *ngFor="let prod of products" style="background-color: #f9f9f9;;">
                <mat-list-item disabled="true">
                    <div matListItemTitle [matTooltip]="prod.name">{{prod.name}}</div>
                    <div matListItemLine>proveedor: {{prod.providerName}}</div>
                    <div matListItemLine>{{prod.price | currency}}</div>
                    <div matListItemMeta>
                        <div>
                            <button mat-icon-button color="warn" matTooltip="Eliminar producto"
                                (click)="clickDeletedProduct.emit(prod)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" matTooltip="Devolver a lista de compras"
                                (click)="markListedProduct.emit(prod)">
                                <mat-icon>undo</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>