<div mat-dialog-title>
    <h1>Crear Lista</h1>
</div>
<div mat-dialog-content>
    <h4>Selección el Producto:</h4>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Elija el producto:</mat-label>
                <mat-select disableRipple>
                    <mat-option value="1">Arroz Florhuila 500 gr</mat-option>
                    <mat-option value="2">Arroz Florhuila 1 Kg</mat-option>
                    <mat-option value="3">Arroz Florhuila 3 Kg</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Elija la cantidad:</mat-label>
                <mat-select disableRipple>
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="3">4</mat-option>
                    <mat-option value="3">5</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button>Cancelar</button>
    <button mat-raised-button color="primary">Guardar</button>
</div>