/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.area-list-card {
    margin: 1rem;
    height: calc(100% - 2rem);
}

.area-list-card-content {
    overflow-y: auto;
}

.header-content {
    display: flex;
    flex-direction: row;
}

.height2-4rem {
    height: 2.4rem;
}